<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuichi_oba.ecclesia">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ReserveListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HistorySearchActivity"
            android:label="@string/title_activity_history_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReserveActivity"
            android:label="@string/title_activity_reserve"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReserveConfirmActivity"
            android:label="@string/title_activity_reserve_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddMemberActivity"
            android:label="参加者登録" />
        <activity
            android:name=".activity.ExtentionActivity"
            android:label="延長" />
        <activity android:name=".activity.TestActivity"></activity>
        <activity android:name=".activity.ReserveChangeActivity"
                    android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ReserveCheckActivity"
                    android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>